.top{
    width: 100%;
    height: 50px;
    display: flex;
    top: 0;
    align-items: center;
    z-index: 999;
}

.topLeft{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.logo{
    color: #01bbff;
    margin-left: 100px;
    
}

.topLeft, .topRight{
    flex: 3;
    margin: 40px;
}

.topRight a {
    text-decoration: none;
    color: black;
    margin: 14px;
}

.topRight{
    text-align: right;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}