.privacyContent{
    margin-left: 200px;
    font-family: "Arial Rounded MT Bold", sans-serif;
    margin-top: 60px;
}

u{
    text-decoration: underline;
    text-decoration-color: #01bbff;
    text-underline-offset: 8px;
}

.bold-font{
    font-weight: 500;
    font-size: 18px;
}

.blue_link {
    text-decoration: none;
    color: #01bbff;
}

.privacyText{
    line-height: 30px;
}