.top{
    width: 100%;
    height: 50px;
    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.logo{
    color: #01bbff;
}

.topLeft, .topRight{
    flex: 3;
    margin: 40px;
}

.topRight a {
    text-decoration: none;
    color: black;
    margin: 5px;
}

.topRight{
    text-align: right;
}